<h1><%= t('view.session.login') %></h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label t('view.user.email') %>
  <%= f.email_field :email %>
  <br>
  <%= f.label t('view.user.password') %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit t('view.session.login') ,class: "btn btn-info" %>
<% end %>