<%= form_with(model: @task, local: true) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> 
        <%= t('view.task.not_save') %></h2>
  
        <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label t('view.task.name') %>
      <%= form.text_area :name ,id: :name %>
    </div>
  
    <div class="field">
      <%= form.label t('view.task.description') %>
      <%= form.text_area :description ,id: :description %>
    </div>

    <div class="field">
      <%= form.label t('view.task.end_at') %>
      <%= form.date_field :end_at %>
      <%= form.time_select :end_at %>
    </div>
  
    <div class="actions">
      <%= form.submit t('view.task.create_task') %>
    </div>
  <% end %>
  