<h1><%= t('view.task.task_lists') %></h1>

<p id="notice"><%= notice %></p>

<hr>

<h4><%= t('view.task.search') %></h4>

<%= form_with(method: :get, url: tasks_path, local: true) do |form| %>

  <%= form.hidden_field :search, value: 'true' %>

  <label><%= form.label t('view.task.name') %></label>
  <%= form.text_field :name ,id: :name%>

  <label><%= form.label t('view.task.status') %></label>
  <%= form.select :completed , Task.completeds.keys.map {|k| [I18n.t("enums.tasks.completed.#{k}"), k]}, include_blank: true, id: :completed, class: "form-control" %>

  <label><%= form.label t('view.task.label') %></label>
  <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: true }) %>

  <%= form.submit t('view.task.search') ,class: "btn btn-info" %>
  <%= link_to "検索 リセット", root_path , class: "btn btn-default" %>

<% end %>

<hr>

<h4><%= t('view.task.sort') %></h4>

<p>
  <%= link_to "終了期限が近い順でソートする", tasks_path(sort_expired: "true") , class: "btn btn-info" %>
  <%= link_to "優先度が高い順でソートする", tasks_path(sort_priority: "true") , class: "btn btn-info" %>
  <%= link_to "ソート リセット", root_path , class: "btn btn-default" %>
</p>


<table class="table">
  <thead>
    <tr class="table-info">
      <th><%= t('view.task.name') %></th>
      <th><%= t('view.task.description') %></th>
      <th><%= t('view.task.create_at') %></th>
      <th><%= t('view.task.end_at') %></th>
      <th><%= t('view.task.status') %></th>
      <th><%= t('view.task.priority') %></th>
      <th><%= t('view.task.label') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="task_row"><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      <td class="task_row_endat"><%= task.end_at&.strftime('%Y/%m/%d') %></td>
      <td><%= task.completed_i18n%></td>
      <td class="task_row_priority"><%= task.priority_i18n %></td>
      <td>
        <% task.labels.each do |label| %>
          <span class="badge badge-secondary"><%= label.name %></span>
        <% end %>
      </td>
      <td><%= link_to t('view.task.show_button'), task %></td>
      <td><%= link_to t('view.task.edit_button'), edit_task_path(task) %></td>
      <td><%= link_to t('view.task.destroy'), task, method: :delete, data: { confirm: t('view.task.destroy_confirm') } %></td>
    </tr>  
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>

<p><%= link_to t('view.task.new_button'), new_task_path , class: "btn btn-info", type: "button" %></p>