<h1><%= t('view.task.show') %></h1>

<table class="table">
  <tbody>
    <tr>
    <th scope="row"><strong><%= t('view.task.name') %></strong></th>
    <td><%= @task.name %></td>
    </tr>
    <tr>
    <th scope="row"><strong><%= t('view.task.description') %></strong></th>
    <td><%= @task.description %></td>
    </tr>
    <tr>
    <th scope="row"><strong><%= t('view.task.end_at') %></strong></th>
    <td><%= @task.end_at.strftime('%Y/%m/%d') if @task.end_at.present? %></td>
    </tr>
    <tr>
    <th scope="row"><strong><%= t('view.task.status') %></strong></th>
    <td><%= @task.completed_i18n %></td>
    </tr>
    <tr>
    <th scope="row"><strong><%= t('view.task.priority') %></strong></th>
    <td><%= @task.priority_i18n %></td>
    </tr>
  </tbody>
</table>

<%= link_to t('view.task.edit_button'), edit_task_path(@task),class: "btn btn-info" %> 

<hr>

<%= link_to t('view.task.back'), tasks_path, class: "btn btn-secondary" %>
