<h1><%= t('view.task.show') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.task.name') %>:</strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t('view.task.description') %>:</strong>
  <%= @task.description %>
</p>

<p>
  <strong><%= t('view.task.end_at') %>:</strong>
  <%= @task.end_at.strftime('%Y/%m/%d') if @task.end_at.present? %>
</p>

<p>
  <strong><%= t('view.task.status') %>:</strong>
  <%= @task.completed_i18n %>
</p>

<p>
  <strong><%= t('view.task.priority') %>:</strong>
  <%= @task.priority_i18n %>
</p>

<%= link_to t('view.task.edit_button'), edit_task_path(@task) %> |
<%= link_to t('view.task.back'), tasks_path %>
