<td><%= current_user.id %>:<%= current_user.name %></td>

<h1><%= @user.name %><%= t('view.user.page') %></h1>
<p><%= t('view.user.name') %>:<%= @user.name %></p>
<p><%= t('view.user.email') %>:<%= @user.email %></p>
<p><%= t('view.user.admin') %>:<%= @user.admin %></p>

<table class="table">
  <thead>
    <tr class="table-info">
      <th><%= t('view.task.name') %></th>
      <th><%= t('view.task.description') %></th>
      <th><%= t('view.task.create_at') %></th>
      <th><%= t('view.task.end_at') %></th>
      <th><%= t('view.task.status') %></th>
      <th><%= t('view.task.priority') %></th>
      <th><%= t('view.task.label') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      <td><%= task.end_at.strftime('%Y/%m/%d') if task.end_at.present? %></td>
      <td><%= task.completed_i18n%></td>
      <td><%= task.priority_i18n %></td>
      <td>
        <% task.labels.each do |label| %>
          <span class="badge badge-secondary"><%= label.name %></span>
        <% end %>
      </td>
      <td><%= link_to t('view.task.show_button'), task %></td>
      <td><%= link_to t('view.task.edit_button'), edit_task_path(task) %></td>
      <td><%= link_to t('view.task.destroy'), task, method: :delete, data: { confirm: t('view.task.destroy_confirm') } %></td>
    </tr>  
    <% end %>
  </tbody>
</table>

<% if current_user.admin == true %>
<p><%= link_to t('view.user.user_admin_page'), admin_users_path , class: "btn btn-info", type: "button" %></p>
<% end %>