<!DOCTYPE html>
<html>
  <head>
    <title>Taskapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id), id: "plofile" %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete, id: "login"%>
    <% else %>
      <%= link_to "Sign up", new_user_path, id: "sign_up" %>
      <%= link_to "Login", new_session_path, id: "login" %>
    <% end %>
    <%= yield %>
  </body>
</html>
